# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

modules/expo-native-mqtt/android/build
#Environment variables
.env
.env.local

# Temp files
scripts/send-test-push.js

#Credentials
credentials/
credential*
#build files
build/
build-*

#modules/libsignal-dezire
modules/libsignal-dezire/android/build
modules/google-auth/android/build


# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android


# Random folders
.vscode/

#APKs
*.apk
